/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background-image: var(--bg-page-gradient);
  background-size: cover;
  background-attachment: fixed;
  margin: 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@supports (font-variation-settings: normal) {
  .page {
    font-family: var(--text-font-family), sans-serif;
  }
}

.header {
  font-family: var(--accent-text-font-family), sans-serif;
  text-align: center;
  text-transform: uppercase;
  padding: var(--header-padding);
}

.header__title {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  margin-block-end: 20px;
}

.header__additional-title {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}